body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.boxes {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 350px;
    width: 75%;

}

.box1, .box2, .box3 {
    padding: 10px 10px 10px 10px;
    overflow: hidden;
    display: grid;
    place-items: center;
    height: 450px;

}

.box1 {
    background-color: #A2A9B0;
}

.box2 {
    background-color: #1D2951;
}

.box3 {
    background-color: #3D3C3A;
}

.specs {
    font-family: "Calibri Light", sans-serif;
    font-weight: 700;
    display: grid;
    margin: 10px;


}

.header {
    display: flex;
    justify-content: space-evenly;
    gap: 10px

}

.name {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
    letter-spacing: 5px;
    padding-top: 10px;
    align-self: start;


}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.car-log {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.reputation, .design, .perfo, .technology {

    margin-bottom: 10px;
    transition: transform 0.3s ease;
    padding: 10px 10px;


}

.reputation:hover, .design:hover, .perfo:hover, .technology:hover {
    background-color: #505050;
    border-radius: 10px;
}

.lrn {
    display: inline-block;
    text-decoration: none;
    background-color: white;
    padding: 10px 10px;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.5);
    border: 2px solid transparent;


}

.learn_more {
    width: 100%;
    padding-top: 10px;
    display: flex;
    margin-left: 40px;


}

.lrn:hover {
    cursor: pointer;
    background-color: transparent;
    border-color: white;
    color: white;


}

@media (max-width: 600px) {
    .boxes {
        flex-direction: column;
        width: 300px;
        justify-content: flex-start;
        margin-bottom: auto;


    }

    .box1, .box2, .box3 {

        display: flex;
        padding: 10px;
        overflow: visible;
        flex-direction: column;


    }

    .reputation:hover {
        overflow: hidden;
    }

}
